* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-Inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.nav-upperContent {
    display: flex;
    justify-content: space-between;
    padding-left: 10.5em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background-color: #1a0d2e;
}

.Title {
    font-size: 1.2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    color: white;
}

.nav-upperContent .linear-gradient {

    background-image: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}

.nav-upperContent .nav-link {
    display: flex;
    color: white;
    font-size: 1.1em;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 1em;
    margin-right: 1.4em;

}

.btn1 img {
    margin-left: 10px;
    vertical-align: middle;

}

.btn1 {
    font-size: 1em;
    background-position: 1.2em;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border-radius: 2em;
    margin-top: 1.2em;
    margin-right: 10.5em;
    margin-bottom: 1.2em;
    padding: 0.8em;
    border: none;

}

/* ===============================banner1================================= */
.banner1 {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    /* Adjust based on your design */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.hero-circle {
    /* background-image: url("./assets/microphone.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* min-height: 200px; */
    margin-top: 5em;
    margin-bottom: 2em;
    position: relative;
    z-index: 5;
    top: 10px;
}

.hero-circle .hero-circle-badge {
    position: absolute;
    top: 5px;
    left: 330px;
    z-index: 6;
}
.hero-circle .hero-circle-microphone {
    position: absolute;
    bottom: 100px;
    left: 200px;
    z-index: 7;
}

.banner-content {
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content h1 {
    font-size: 4em;
    font-weight: bold;
}

.banner-content p {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 50;
}

.banner-content .banner1-btn {
    margin-top: 1em;
    margin-bottom: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.banner1-btn img {
    margin-right: 5px;
    vertical-align: middle;

}

.banner1-btn .banner1-btn1 {
    background-position: 1.2em;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 20px 12px;
    border-radius: 5em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: white;

}

.banner1-btn .banner1-btn2 {
    padding: 12px 20px 12px;
    border-radius: 5em;
    border-color: #00ff88;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    color: #00ff88;
    background-image: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;

}

/* =================================banner2==================================== */

.banner2 {
    background-color: #1a0d2e;

}

.banner2-content h1 {
    font-size: 48px;
    margin-bottom: 16px;
    color: white;
}

.banner2-content p {
    margin-bottom: 1em;
    font-weight: lighter;
    font-size: 16px;
    color: white;

}

.banner2-content {

    margin: 0em 12.5em 4em 12.5em;
    text-align: center;
}

.banner2-achivements {
    padding: 5em 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 1px solid #16324a;
    max-width: 1200px;
    margin: 0 auto;
}

.banner2-achivements h1 {

    font-size: 48px;
    color: #00ff88;
}

.banner2-achivements p {
    color: white;
}


/* ==========================footer============================= */

.footer .linear-gradient2 {
    background-image: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}

.footer {
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 7em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-title h1 {
    font-size: 5em;
    text-align: center;
    color: white;


}

.links li {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.footer .footer-links .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 3em;
    color: white;
}

.footer p {
    margin-top: 2em;
    text-align: center;
    color: white;
}